body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 18px;
}

a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
 text-decoration: none; 
}
h1 {
  font-size:48px;
}

ul.no-bullet {
  list-style: none;
}

#wrapper {
  padding: 50px;
}

#header {
  text-align: center;
  background-color: #FFF;
  color: black;
  padding: 50px;
  width: 400px;
  min-height: 400px;
  margin: 0 auto 0 auto;
  border: 10px solid black;
  padding:40px;
  margin-bottom: 120px;
}

#trade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: "center";
}

.pixel {
  flex: 0;
}
.arrow {
  flex: 0;
  font-size: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.punk {
  flex:0;
  margin-top:-10px;
}

.pixelated {
  image-rendering: pixelated;
}

.question {
  font-weight: bold;
}